.ais-InstantSearch {
  display: flex;
}

.left-panel {
  width: 250px;
  margin-right: 20px;
}

.right-panel {
  flex-grow: 1;
}

.hit {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 800px; /* Adjust as needed */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hit-field {
  font-size: 1em;
  color: #555;
  margin-bottom: 8px;
  white-space: normal;
}

.hit-field strong {
  font-weight: bold;
  color: #333;
}

mark {
  background-color: yellow; /* Adjust as needed */
  font-weight: bold;
}
