/* Header styles for the search page */
.search-header {
    background-color: navy;
    color: white;
    padding: 20px 10px;
    margin: 0;
    text-align: left; /* Align text to the left */
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex; /* Make header a flex container */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo/title and button */
    border-bottom: 2px solid orange; /* Add orange bottom border */
}

.search-header-logo {
    width: 200px; /* Adjust width as needed */
    height: auto;
    margin-right: 20px; /* Space between the logo and text */
}

.search-upload-button {
    padding: 10px 20px; /* Padding inside the button */
    background-color: orange; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-left: auto; /* Push button to the right */
}
  
/* Search bar styles */
.search-bar {
  margin-bottom: 5px;
}

.delineating-line {
  border: 0;
  height: 1px;
  background: orange;
  margin: 20px 0;
}

/* Filter section styles */
.filter-section {
  margin-top: 5px;
}

.filter-options {
  display: flex;
  align-items: center;
  height: auto;
}

.filter-options h2 {
  font-size: 1rem;
  margin-right: 10px;
}

.ais-RefinementList {
  display: flex;
  align-items: center;
}

.ais-RefinementList-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 0;
}

.ais-RefinementList-item {
  display: flex;
  align-items: center;
}

/* Highlight and snippet styles */
.ais-Highlight-highlighted, .ais-Snippet-highlighted,
.highlight {
  background-color: yellow;
  color: black;
}

/* Hits styles */
.ais-Hits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ais-Hits .hit {
  flex: 1 0 45%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.ais-SearchBox {
  margin-bottom: 20px;
}
  